
.c-image {
    margin: fluid(3) 0;
    
    .c-figure {
        margin-bottom: fluid(0.5);
        margin-left: 0;

        img {
            width: 100%;
            max-height: 70vh;
            height: 100%;
            object-fit: cover;
        }
    }

    figcaption {
        align-self: center;
        margin-top: fluid(0.125);
        margin-bottom: fluid(0.125);
        font-size: fluid(0.85);
        line-height: fluid();
    }
}



