.c-teaser {
    grid-column: span 1;
    margin-top: $base-unit-3;
    margin-bottom: $base-unit-3;

    &__image {
        margin-bottom: $base-unit-1-2;

    }

    .e-heading {
        margin-top: $base-unit;
        margin-bottom: $base-unit-1-2;
    }

    p {
        margin-top: 0;
    }
}



