.c-teaser {
    grid-column: span 1;
    margin-top: fluid(3);
    margin-bottom: fluid(3);

    &__image {
        margin-bottom: fluid(0.5);

    }

    .e-heading {
        margin-top: fluid();
        margin-bottom: fluid(0.5);
    }

    p {
        margin-top: 0;
    }
}



