.c-button {
    margin-bottom: fluid(2);
    padding: fluid(0.5) fluid(2);
    font-weight: bold;
    font-size: fluid(1.25);
    line-height: fluid(2);
    background-color: salmon;
    border: none;

    &:hover {
        background-color: deeppink;
    }
}
