body {
    padding: 50px;
    font-family: sans-serif;
}

.btn  {
    /* needed for absolutely positioned children */
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.btn-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 500px;
    /* @Fabian: why does text break so stupidly in absolutely positioned spans */
    width: max-content;
    background-color: crimson;
    color: white;
    z-index: 0;
    margin-bottom: 20px;
}

.btn-content:first-child {
    position: relative;
}


.btn-content.hover {
    background-color: #f1a1b1;
    color: #6e0a1e;
    z-index: 1;
    /* hide */
    clip-path: circle(0px at center);
    pointer-events: none;
    transition: clip-path 0.38s cubic-bezier(0.4,0.3,0.7,1);
}

.btn-content.animated {
    /* Only animate when needed – we must be able to change clip-path's center without animation */
}

.btn:hover .btn-hover {
    /* clip-path: circle(70% at center); */
}

